{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Your ID was: {{ redemption_code }} and your payment is of {{ payment }}</strong></p>
            <p>Please, leave your email here to proceed with the Lydia transfer.</p>
            {% formfield player.email %}
                {% next_button %}

        </div>
    </div>

{% endblock %}

