{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    {% if player.selfdisplay == 0 %}
    <p>
       <span style="font-size:20px;"> The other participant(s) with an endowment of 100 Points contributed around  <b>{{player.pertother}} Points</b></span><br><br><br>

        <span style="font-size:20px;"> The other participant(s) with an endowment of 50 Points contributed around <b>{{player.pertsame}} Points</b>
    </p>
    {% endif %}
    {% if player.selfdisplay == 1 %}
    <p>
       <span style="font-size:20px;"> The other participant(s) with an endowment of 50 Points contributed around <b>{{player.pertsame}} Points</b></span><br><br><br>

       <span style="font-size:20px;"> The other participant(s) with an endowment of 100 Points contributed around <b>{{player.pertother}} Points</b></span>
    </p>
    {% endif %}
    </div>
</div>



